<div id="home" class="HeroContainer">
    <div class="HeroBg">
        <video class="VideoBg" autoplay loop type="video/mp4">
            <source src="../../assets/video/Kitchen - 3510.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="HeroContent">
        <h1 class="HeroH1">Tu <strong>App</strong> Donde puedes compartir todas tus Recetas😋</h1>
        <p class="HeroP">
            Además de comunicarte con tus amigos y hacer tu propio BlogChef
        </p>
        <div class="HeroBtnWrapper">
            <a class="btn btn-outline-light btn-lg mb-1 ArrowRight" href="login" role="button">Entra en
                nuestras recetas ahora😁</a>
        </div>

    </div>

</div>