<body>
    <div class="wrapper">
        <form class="login">
            <p class="title">Bienvenido, a Healthytrash.</p>
            <input type="text" placeholder="Email" class="form-control" formControlName="email" required autofocus />
            <i class="fa fa-user"></i>
            <input type="password" placeholder="Password" class="form-control" formControlName="password" required />
            <i class="fa fa-key"></i>
            <a [routerLink]="['/registro']">No tienes cuenta? registrate ahora</a>
            <button type="submit">
                <i class="spinner"></i>
                <span class="state">Log in</span>
            </button>
            <!-- <p *ngIf="errorMessage">{{ errorMessage }}</p> -->
        </form>
        <footer><a [routerLink]="['/home']">Healthytrash</a></footer>
    </div>
</body>