<footer class="text-center text-lg-start text-dark" style="background: linear-gradient(to right, #bdc3c7, #2c3e50)">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-body">
                        HealthyTrash
                    </h6>
                    <p class="text-light">
                        Aquí puedes encontrar como transformar un plato de Fast-food en comidas saludable manteniendo su
                        sabor original, además, incorpora su propio blog donde puedes compartir tus
                        propias recetas, Su propia base de datos y un chat-Bot para poder ayudar en cualquier campo
                        donde se requiera.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 list">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-body">
                        Servicios
                    </h6>
                    <p>
                        <a class="text-light" [routerLink]="['/recetas']">Recetas</a>
                    </p>
                    <p>
                        <a class="text-light" [routerLink]="['/blog']">ChefBlogs</a>
                    </p>
                    <p>
                        <a class="text-light" [routerLink]="['/contacto']">Contacto</a>
                    </p>
                </div>

                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 list">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-body">
                        Contacto
                    </h6>
                    <p class="text-light">
                        <i class="fas fa-home mr-3 text-info"></i> Granada, GR 18005, ES
                    </p>
                    <p class="text-light">
                        <i class="fas fa-envelope mr-3 text-info"></i> cmingoranceespigares@gmail.com
                    </p>
                    <p class="text-light">
                        <i class="fas fa-phone mr-3 text-info"></i> + 34 663 320 598
                    </p>
                </div>


                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-body">
                        Follow us
                    </h6>


                    <!-- Linkedin -->
                    <a style="color: #094fe6" href="https://www.linkedin.com/in/carlos-mingorance-espigares-8598a1198/"
                        target="_blank" role="button"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
                    <!-- Github -->
                    <a style="color: #1a161a" href="https://github.com/Mingo777?tab=repositories" target="_blank"
                        role="button"><i class="fab fa-github-square fa-2x mr-2"></i></a>


                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" [routerLink]="['/home']">HealthyTrash.dominio.es</a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <small>Created by <a href="https://www.linkedin.com/in/carlos-mingorance-espigares-8598a1198/"
                target="_blank">Carlos
                Mingo</a></small>
    </div>

    <!-- Copyright -->
</footer>
<!-- Footer -->